@font-face {
    font-family: 'elsie';
    src: url('Fonts/ElsieSwashCaps-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-image: url('img/forest-3394066_1280.jpg');
    background-size: cover;
    background-color: rgba(115, 180, 230, 0.7);
}


canvas {
    display: block;
    position: absolute;
    object-fit: contain;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.gamaContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 720px;
    height: 480px;
    /* background-image: url('img/startscreen-background.png'); */
}

.startscreen-background {
    position: absolute;
    left: 0;
    right: 0;
    object-fit: contain;
    width: 100%;
}

#startButton {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    z-index: 10;
}

.overlay-center {
    position: relative;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.overlay-top {
    z-index: 2;
}

.overlay-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
}

.setting-buttons {
    border-radius: 100%;
    margin: 10px;
    background-color: rgba(0,0,0,0);
    border: none;
}

.img-settings-buttons {
    width: 40px;
    /* height: 40px; */
}

h1 {
    position: relative;
    top: -280px;
    margin-top: 0;
    font-family: 'elsie', Arial, Helvetica, sans-serif;
    font-size: 64px;
    letter-spacing: 4px;
    color: rgb(2, 11, 17);
    text-shadow: 2px 2px 4px rgba(3, 24, 34, 0.7);
}

.rotate-device-container {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.rotate-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotateAnimation 4000ms infinite alternate;
}

.rotate-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter: invert(1) brightness(2);
}

.image-description {
    margin-top: 50px;
    font-size: 32px;
    color: white;
    text-align: center;
}

.EndScreen {
    width: 20px;
    height: 20px;
    z-index: 3;
    background-color: rgb(0 0 0 / 30%);
    animation: expandAnimation 1s forwards;
    opacity: 0;
}

.youWonScreen {
    width: 20px;
    height: 20px;
    z-index: 3;
    background-color: rgb(0 0 0 / 30%);
    animation: expandAnimation 1s forwards;
    opacity: 0;
}

@keyframes expandAnimation {
    0% {
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }
    100% {
        width: 720px;
        height: 480px;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        opacity: 1;
    }
}

.youLostImg {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.youLostBtn {
    position: relative;
    left: 35%;
    top: 70%;
    width: 30%;
    height: 15%;
    border-radius: 50%;
    color: white;
    font-size: large;
    border: none;
    background-color: rgb(240 176 15);
    box-shadow: rgba(154, 58, 23, 0.90) 2px 2px 2px;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}


.pointer:hover {
    scale: 1.2;
}

.pointer {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.height100 {
    height: 100dvh;
}

@media only screen and (max-width: 1025px) {
    canvas {
        border: none;
        box-shadow: none;
    }

    .overlay {
        height: 100dvh;
    }

    .gamaContainer {
        border: none;
        box-shadow: none;
    }

    .startScreen {
        border: none;
        box-shadow: none;
        height: 100dvh;
    }

    .startscreen-background {
        height: 100dvh;
    }

    .overlay-bottom {
        width: 80%;
    }

    h1 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        height: 100dvh;
    }

    .startScreen {
        width: 100%;
    }

    h1 {
        display: none;
    }

    .gamaContainer {
        width: 100%;
    }
}