/* @font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.ttf') format('truetype');
} */

body {
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(203, 87, 252, 0.3);
    background-position: center;
}

canvas {
    display: block;
    position: absolute;
    object-fit: contain;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.gamaContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.startScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 720px;
    height: 480px;
    background-image: url('img/oie_t4oeW5ctJAHk.png');
    z-index: 10;
}

#startButton {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: violet;
    border: none;
    clip-path: polygon(0% 25%, 10% 0%, 90% 0%, 100% 25%, 100% 75%, 90% 100%, 10% 100%, 0% 75%);
}

.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.overlay-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.setting-buttons {
    border-radius: 100%;
    margin: 10px;
    background-color: rgba(0,0,0,0);
    border: none;
}

.img-settings-buttons {
    width: 40px;
    height: 40px;
}

h1 {
    position: relative;
    top: -280px;
    margin-top: 0;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    font-size: 64px;
    letter-spacing: 4px;
    color: rgb(99, 88, 97);
    text-shadow: 2px 2px 4px rgba(225, 102, 50, 0.7);
}

.d-none {
    display: none !important;
}

.height100 {
    height: 100vh;
}

@media only screen and (max-width: 1025px) {
    canvas {
        border: none;
        box-shadow: none;
    }

    .overlay {
        height: 100vh;
    }

    .gamaContainer {
        border: none;
        box-shadow: none;
    }

    .startScreen {
        border: none;
        box-shadow: none;
        width: 100%;
    }

    h1 {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    .startScreen {
        width: 100%;
    }

    .gamaContainer {
        width: 100%;
        height: 100vh;
    }
}